@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #243e81, #456b9a);
  background-attachment: fixed;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #182957;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 150px;
  height: auto;
}

/* NAVIGATION */
nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  background: #243e81;
}

nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background: white;
}

/* MAIN SECTION */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
  margin-top: 70px;
}

.welcome h1 {
  font-size: 160px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 0;
  text-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.welcome p {
  font-size: 28px;
  font-weight: 600;
  margin-top: 1px;
  margin-left: 10px;
  line-height: 1.3;
}

.gacha-btn {
  margin-top: 1px;
  margin-left: 5px;
  padding: 14px 40px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background: white;
  color: #2a4d83;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease;
}

.gacha-btn:hover {
  transform: scale(1.05);
}

/* LEADERBOARD */
.leaderboard {
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 30px 100px;
  padding-bottom: 250px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}



.leaderboard h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  gap: 100px;
}
